//Colors
$grey: #ddd;
$white: #fff;
$color-primary: #4a148c;
$color-highlight: #e1bee7;
$light-grey: #f9f9f9;
$dark-grey: #777;

//Body
$body-background-color: #fafafa;
$body-default-color: #333;
$body-default-font-family: Helvetica, Arial, sans-serif;

//Spacing
$space: 1.4rem;
$large-space: 2.8rem;
$site-max-width: 100rem;

//Boxed Views
$boxed-view-overlay-bg: $color-primary;
$boxed-view-bg: $white;
$boxed-view-border-color: $grey;

//Fonts
$base-font-size: 1.6rem;
$large-font-size: 2.2rem;
$main_title-size: 6rem;
$main_subtitle-size: 4rem;

//Form Inputs
$input-border: $grey;
$input-spacing: 1rem;

//Button
$button-bg: $color-primary;
$button-secondary-bg: $light-grey;
$button-color: $white;
$button-secondary-color: $dark-grey;
$button-pill-color: $color-primary;

//Header
$header-bg: $color-primary;
$header-color: $white;
$header-height: 6rem;

//Item
$item-border-width: 4px;

//Page Content
$page-content-sidebar-width: 30rem;
$page-content-main-width: calc( #{$site-max-width} - #{$page-content-sidebar-width} ) ;
$page-content-height: calc(100vh - #{$header-height});