//Colors
$grey: #ddd;
$white: #fff;
$color-primary: #4a148c;
$light-grey: #f9f9f9;
$dark-grey: #777;

//Body
$body-background-color: #fafafa;
$body-default-color: #333;

//Spacing
$space: 1.4rem;
$site-max-width: 100rem;

//Boxed Views
$boxed-view-overlay-bg: $color-primary;
$boxed-view-bg: $white;
$boxed-view-border-color: $grey;

//Fonts
$base-font-size: 1.6rem;
$large-font-size: 1.8rem;

//Form Inputs
$input-border: $grey;
$input-spacing: 1rem;

//Button
$button-bg: $color-primary;
$button-secondary-bg: $light-grey;
$button-color: $white;
$button-secondary-color: $dark-grey;
$button-pill-color: $color-primary;

//Header
$header-bg: $color-primary;
$header-color: $white;

//Item
$item-bg: $light-grey;
$item-border: darken($item-bg, 8%);
$item-text-color: $dark-grey;

//Page Content
$page-content-sidebar-width: 30rem;
$page-content-main-width: calc( #{$site-max-width} - #{$page-content-sidebar-width} ) ;