.editor {
  background-color: $white;
  border: 1px solid $grey;
  display: flex;
  flex-direction: column;
  padding: $large-space;
  width: 100%;
}

.editor--title {
  border: 0;
  border-bottom: 2px solid $grey;
  font-size: $large-font-size;
  margin-bottom: $large-space;
  outline: none;
  padding: $input-spacing;
}

.editor--body {
  flex-grow: 1;
  font-weight: 300;
  margin-bottom: $large-space;
  outline: none;
  padding: $input-spacing;
  resize: none;
}

.editor--message {
  font-style: italic;
  margin: $large-space;
  text-align: center;
}
