.header {
  background: $header-bg;
  color: $header-color;
}

.header--content {
  align-items: center;
  display: flex;
  height: $header-height;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $site-max-width;
  padding: $space;
}

.header--name {
  @include desktop {
    font-size: $main-title-size;
  }
  align-items: center;
  background-color: $color-primary;
  color: $white;
  display: flex;
  flex-direction: column;
  font-size: $large-font-size;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  width: 100vw;
}

.header--name-sub {
  @include desktop {
    font-size: $main_subtitle-size;
  }
  align-items: center;
  border-top: 2px solid $grey;
  display: flex;
  font-size: $large-font-size;
  justify-content: center;
  padding-top: 4rem;
}

.header--arrow {
  @include desktop {
    font-size: $main-title-size;
  }
  font-size: 4rem;
}

.header--title {
  margin: 0;
}

.header--nav-toggle {
  @include desktop {
    display: none;
  }
  cursor: pointer;
  height: 2rem;
  width: 2rem;
}
