.header {
  background: $header-bg;
  color: $header-color;
}

.header--content {
  align-items: center;
  display: flex;
  height: $header-height;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $site-max-width;
  padding: $space;
}

.header--title {
  margin: 0;
}

.header--nav-toggle {
  @include desktop {
    display: none;
  }
  cursor: pointer;
  height: 2rem;
  width: 2rem;
}
