.item-list {
  background-color: white;
  border: 1px solid $grey;
  overflow-y: scroll;
  width: 100%;
}

.item-list--header {
  display: flex;
  flex-direction: column;
  padding: $space;
}

.item {
  border-left: $item-border-width solid transparent;
  cursor: pointer;
  padding: $space;
  transition: background-color .3s ease, border-left .3s ease;
}

.item:hover {
  background-color: $light-grey;
  border-left: $item-border-width solid $color-highlight;
}

.item--selected,
.item--selected:hover {
  background-color: $light-grey;
  border-left: $item-border-width solid $color-primary;
}

.item--message {
  color: $dark-grey;
}

.item--status-message {
  color: $dark-grey;
  font-style: italic;
  margin: 0;
  text-align: center;
}

.empty-item {
  font-style: italic;
  padding: $input-spacing;
  text-align: center;
}
