.page-content {
  @include desktop {
    padding: $large-space $space;
  }
  display: flex;
  height: $page-content-height;
  margin: 0 auto;
  max-width: $site-max-width;
}

.page-content--sidebar {
  @include desktop {
    display: flex;
    padding-right: $large-space;
    position: static;
    width: $page-content-sidebar-width;
  }
  bottom: 0;
  display: flex;
  left: -100vw;
  position: fixed;
  top: $header-height;
  transition: left .3s ease;
  width: 100vw;
  z-index: 1;
}

.is-nav-open {
  .page-content--sidebar {
    left: 0;
  }
}

.page-content--main {
  @include desktop {
    width: $page-content-main-width;
  }
  display: flex;
  width: 100%;
}
