.page-content {
  @include desktop {
    padding: $large-space $space;
  }
  display: flex;
  height: $page-content-height;
  margin: 0 auto;
  max-width: $site-max-width;
}

.page-content--sidebar {
  @include desktop {
    display: flex;
  }
  display: none;
  flex-direction: column;
  padding-right: $large-space;
  width: $page-content-sidebar-width;
}

.page-content--main {
  @include desktop {
    width: $page-content-main-width;
  }
  display: flex;
  width: 100%;
}
